/* 선택자(selector) */
*{
    box-sizing: border-box;
}


.inline-block{
    display: inline-block;
}
html, body{
    margin : 0;
    padding : 0;
    font-family: DOtum,'돋움',Helvetica, "Apple SD Gothic Neo",sans-serif;
}

#fixed{
    position: fixed;
    top : 50px;
    left : 50px;
    display: inline-block;
    width:  100px;
    height: 100px;
    border: 1px solid black; 
    border-radius: 50px;

}
header{
    height: 170px;
}
#header-top{
    float : right;
    margin-top : 8px;
}

#header-top span{
    color : #888;
    letter-spacing: -1px;
    font-size: 11px;
    line-height: 22px;

}


div#header-center,div#zerocho /*div는 생략 가능 */
{
    margin : 0 auto;
    width : 1080px; 
    /* 픽셀은 상대적 개념 */
}
/*header는 생략 못함 */

.center-align{
    margin : 0 auto;
    width : 1000px;
    
}

#header-search  h1{ /* 자식태그 > - 기존의 아이디에서 h1 찾기 */
    width : 440px;
    height: 103px;
    margin-top: 0px;
    display: inline-block;
    background-image: url(./naver_logo.png);
    background-position: 0 -320px;
    text-indent: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    /*빈 공간 채우기 위해 반복됨 */
    /* background : url() -4px -10px no-repeat*/
    overflow: hidden;

}

#header-search a {
    text-decoration: none;
}

/* 
#header-center h1{ } /자손 태그 */

#header-search h2{
    display: none;
}

#header-search fieldset{
    margin-left: 20px;
    height: 49px;
    width: 501px;
    padding: 12px 0 12px 10px;
    display: inline-block; /*display block을 컨텐츠만 한정 짓는 inline block으로 */
    border : 2px solid #03cf5d; /*hex */
    position: relative;
}
#header-search fieldset input{
    width: 360px;
    height: 23px;
    border: none;
    padding : 0;
    outline: none;
    vertical-align: top;
}
#header-search fieldset button{
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    position: absolute;
    right : 0;
    top : 0;

    background: #03cf5d;
    

}
 /*볼륨 서식 컨텍스트 */
#header-search fieldset 

#header-search h1 span {
    display: none;
}
     
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
#search-keyboard{
    background-image: url(./naver_logo.png);
    background-repeat: no-repeat;
    background-position: -840px -496px;
    width: 39px;
    height: 24px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 6px;
}
#search-history{
    background-image: url(./naver_logo.png);
    background-repeat: no-repeat;
    background-position: -808px -516px;
    width: 20px;
    height: 10px;
    vertical-align: middle;
    display: inline-block;

}
#search-image{
    width : 44px;
    height: 44px;
    background-image: url(./naver_logo.png);
    background-position: -308px -772px;
    background-repeat: no-repeat;
    display: inline-block;

}
#search-ranking{
    position: absolute;
    top : 16px;
    right : 10px;
    width : 198px;
    height : 20px;
    
}
#search-ranking ul {
    display: none;
    list-style: none;
    padding: 17px;
    margin : 0;
    width : 332px;
    height: 334;
    border: 1px solid #aaa;
    background: white;
    position: absolute;
    top: -15px;
    right: 0;
}
#search-ranking:hover ul{
    display: inline-block;
}
#rank-number{
    margin-top: -9px;
    color : #00ab33;
    font-size: 16px;
    display: inline-block;

}

#nav-divider{
    float : left;
    margin: 18px 16px 0;
    width : 1px;
    height: 14px;
    background: #ebeef3;
 
}

#nav-menu ul{
    margin : 0;
    padding: 16px 0 0 4;
    list-style: none;
    display: inline-block;
    border: 5px solid #888;
   

    
    
}
#nav-menu li{
    display: inline-block;
    
}

#nav-menu li span:first-child{
    width : 25px;
    height : 16px;
   
    display: inline-block;
    background-position: 0 -285px;
    background-image: url(./sp_nav.png);
    background-repeat: no-repeat;
    margin-left:  14px;

}
#nav-menu li:first-child span:first-child{
    width : 25px;
    background-position: 0 -285px;
    margin-left : 0px !important;
   
}
#nav-menu li:nth-child(2) span:first-child{
    width : 25px;
    background-position: -279px -52px;


}
#nav-menu li:nth-child(3) span:first-child{
    width : 40px;
    background-position: -100px -182px;
    
}
#nav-menu li:nth-child(4) span:first-child{
    width : 40px;
    background-position: -101px -156px;
  
}
#nav-menu li:nth-child(5) span:first-child{
    width : 26px;
    background-position: -279px -156px;

}
#nav-menu li:nth-child(6) span:first-child{
    width : 25px;
    background-position: -70px -285px;
    
}

main{
    padding : 8px ;
    display: inline-block;
    width: 100%;
}

#main-centered{
    padding: 8px 10px 0;
    background: #555;
}
#main-first-block{
    display: inline-block;
    width: 100%;
}

#main-first-ad{
    float: left;
    width : 720px;
    height : 120px;
    margin-right: 8px;
    margin-bottom: 8px;
    background:rgb(255, 255, 255);
}
#main-login{
    float: left;
    width: 200px;
    height: 120px;
    vertical-align: top;
    margin-right: 8px;
    margin-bottom: 8px;
    background: white;
}
#main-second-block .inline-block:first-child{
    
    width: 720px;
    float: left;
    vertical-align: top;
}
#main-second-block .inline-block:last-child{
    width: 200px;
    float : left;
    vertical-align: top;
}
#main-ytn{
    float : left;
    width: 720px;
    height: 46px;
    margin-right: 8px;
    margin-bottom: 8px;
    background: white;
}
#main-ytn h3,#main-ytn ol{
   float:left;
}
#main-newsstand{
    float : left;
    width: 720px;
    height: 246px;
    margin-right: 8px;
    margin-bottom: 8px;
    background: white;
}
#main-newsstand ul{
    float : left;
    margin: 0;
    padding: 0;
    list-style: none;
}
#main-newsstand li{
    float: left;
  
    height: 67px;


}
#main-weather{
    float : left;
    width : 200px;
    height: 142px;
    margin-bottom: 8px;
    margin-right: 8px;
    vertical-align: top;
    background-color: white;
}
#main-second-ad{
    float : left;
    width: 200px;
    height: 142px;
    margin-bottom: 8px;
    margin-right: 8px;
    vertical-align: top;
    background: white;

}
#main-third-block .inline-block:first-child{
    display: inline-block;
    width: 720px;
    vertical-align: top;
}
#main-third-block .inline-block:last-child{
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
#main-category{
    float: left;
    width: 720px;
    height: 837px;
    background: white;
    vertical-align: top;
    margin-right: 8px ;
    margin-bottom: 8px;

}
#main-shopping{
    float: left;
    width: 200px;
    height: 882px;
    margin-bottom: 8px;
    margin-right: 8px;
    background: white;

}
#main-shopping iframe {
    width: 100%;
    height: 100%;
}
#main-event{
    display: inline-block;
    width:  740px;
    height:  130px;
    background: white;
    vertical-align: top;
}
