<h1>{{review.title}}</h1>
<small>감독 : {{review.director}}</small>
<br>
<small>개봉연도 : {{review.date}}</small>
<br>
<small>주연 : {{review.actor}}</small>
<br>
<small>장르 : {{review.genre}}</small>
<br>
<small>별점 : {{review.rate}}</small>
<br>
<small>러닝타임 : {{review.runningtime}}</small>
<br>
<small>리뷰 내용 : {{review.content}}</small>
<a href="/">my Movie reviews</a>
<form action="/review/{{review.id}}/delete" method="post">
    {% csrf_token %}
    <input type="submit" value="삭제하기"/>
</form>

<a href="{{review.id}}/update">수정</a>