:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;
    --size-button: 60px;
    --size-animation-duration: 300ms;
    --font-size: 18px;
    --base-space: 8px;
    --size--border : 4px;
    --size-thumbnail: 50px;
    --border-radius: 30%;
    --border-circle: 50%;
  }

  li{
    list-style-type: none;
  }


body{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.header{
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-right:70px;
}
.stopwatch{
    display: flex;
    width: 80vh;
    height:50vh;
    background-color: var(--color-light-grey);
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.screen{
   
    display: flex;
    justify-content: center;
    width: 50vh; 
    height: 20vh;
    background-color: var(--color-white);
    align-items: center;
    border-radius: var(--border-radius);
  

}

.buttons{
    margin-top: 100px;
    margin-top: 10px;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
   
}
.btn{
    cursor: pointer;
    height: 60px;
    border-radius: var(--border-circle);
    margin : 0 30px;

}

.list-container{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 80vh;
    margin-right: 50px;
    background-color: var(--color-light-grey);
    

}
.record{
    margin-right: 70px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    
}

.trashcan{
    cursor: pointer;

}